# Arquivos compilados em C
*.o
*.out
*.exe
*.dll
*.so
a.out
core
output/
hello2
buggy2
scores
buggy
greet
hi
string
uppercase
length
# (Adicione nomes específicos de executáveis aqui, se necessário)

# Arquivos de IDE (Codeblocks)
*.cbp
*.depend
*.layout
*.save
*.workspace
*.project
.codeblocks/

# Arquivos do VS Code
# Mantenha apenas esta linha para cobrir todas as configurações VS Code
.vscode/

# Arquivos de Sistema operacional e Editores
*~
._*
.DS_Store
Thumbs.db